Client Invoice & Workflow Automation System/PHASE 2 - DESIGN & BUILD/STEP 3 - Send Final Design & Get Feedback.json
{
  "name": "STEP3 - Send Final Design & Get Feedback",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9e6bbe0-7ee1-4fb5-9de2-4cced65fed81",
              "leftValue": "={{ $json.Final_Design_Approved }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        752
      ],
      "id": "655f5089-0a28-4ad1-8970-3d73c956153d",
      "name": "Client Responded?"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.Email }}",
        "subject": "Design Approval Reminder",
        "bodyContent": "Dear Client,\n\nThe website design has been emailed to you. Please check it out and fill out the design approval form.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        704,
        832
      ],
      "id": "0be55dd6-694b-40aa-944d-d278d2f84caa",
      "name": "Send Reminder",
      "webhookId": "66341cfd-ee10-42c6-a295-5d6d6ac09d97"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-design-reminder",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        832
      ],
      "id": "ea4a1488-dd0c-4cf9-b8ad-9258fa676bfe",
      "name": "Email Reminder Webhook",
      "webhookId": "40800a92-4c38-4ffd-a846-c85425c427c9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yoai.app.n8n.cloud/webhook/final-design-reminder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Email",
              "value": "={{ $('Get Client\\'s Email').item.json.Email }}"
            },
            {
              "name": "Name",
              "value": "={{ $('Get Client\\'s Email').item.json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -112
      ],
      "id": "fac6fc77-6c52-4e0e-80d4-480effead2ec",
      "name": "Start Email Reminder"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        832
      ],
      "id": "b5299a3c-f88c-4572-b0f7-e408abdee9d5",
      "name": "Wait 3 Days",
      "webhookId": "f67bccdd-485b-40e2-bbc4-7c8e51568ff3"
    },
    {
      "parameters": {
        "toRecipients": "ian@internetcreation.net,mike@internetcreation.net",
        "subject": "Website Design Update",
        "bodyContent": "=Your Client {{ $json.Email }} didn't approve the website design.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        480,
        320
      ],
      "id": "69300da3-b221-4b82-8821-f4e96d01cd67",
      "name": "Notify Team.",
      "webhookId": "ff8b0aa7-847d-4deb-a746-d9cbe7e66720"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json.query.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -112
      ],
      "id": "a0fe451f-0e64-4a40-95f0-b56c3a514006",
      "name": "Get Client's Email"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-design-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -112
      ],
      "id": "0fe731c7-b388-485b-97af-90ad8e37c956",
      "name": "Start Final Design Workflow",
      "webhookId": "b01fe06c-6893-440d-ad22-274d0befe29a"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.Email }}",
        "subject": "Website Design Update",
        "bodyContent": "=<p style=\"margin-bottom:20px;\">We’re excited to share the designs for the remaining pages of your website and would love your feedback.</p>\n\n<a href=\"{{ $json.Website_Link }}\" target=\"_blank\">\n  View your website design\n</a>\n\n<p style=\"margin-bottom:20px;\">As you review these pages, it’s best to focus on the overall structure, layout, and consistency across the site, rather than small visual details. At this stage, we’re ensuring that everything works together seamlessly as a complete website.</p>\n\n<p style=\"margin-bottom:20px;\">A few helpful things to consider while reviewing:</p>\n\n<p style=\"margin-bottom:10px;\">• Do the layouts feel straightforward to navigate?</p>\n<p style=\"margin-bottom:10px;\">• Is the content organised in a way that makes sense?</p>\n<p style=\"margin-bottom:10px;\">• Do the pages feel consistent with the homepage design and your brand?</p>\n<p style=\"margin-bottom:20px;\">• Is there anything that feels missing, repetitive, or unnecessary?</p>\n\n<p style=\"margin-bottom:20px;\">It can be helpful to imagine how a visitor would move through the site—from page to page—and whether the experience feels smooth and intuitive.</p>\n\n<p style=\"margin-bottom:20px;\">When sharing feedback, specific comments are always appreciated. Let us know what’s working well, what you’re unsure about, or any areas you’d like adjusted. And if something doesn’t feel quite right but you’re not sure why, that’s completely okay to mention too.</p>\n\n<p style=\"margin-bottom:20px;\">There’s no need to worry about final wording, imagery, or minor spacing adjustments just yet. Right now, we’re focused on confirming the structure and flow of each page.</p>\n\n<p style=\"margin-bottom:20px;\">Once you’ve had time to review and you’re happy with the designs, the next step will be to formally sign off so we can proceed into the build phase. You can do this using the button below.</p>\n\n<p style=\"margin-bottom:20px;\">Once signed off, we’ll treat the designs as approved and begin development based on these layouts.</p>\n\n<p style=\"margin-bottom:20px;\">Please send through your feedback via email, or feel free to reach out if you’d like to arrange a meeting. If you have any questions at all, don’t hesitate to get in touch—we’re always happy to help.</p>\n\n<p style=\"margin-bottom:20px;\">Thanks again, we’re excited to start bringing the designs to life and look forward to hearing your thoughts!</p>\n\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top: 32px;\">\n  <tr>\n    <td align=\"center\">\n      <a href=\"https://www.internetcreation.net/design-approval-questionnaire/\"\n         target=\"_blank\"\n         style=\"\n           display: inline-block;\n           padding: 16px 40px;\n           font-family: Arial, Helvetica, sans-serif;\n           font-size: 16px;\n           font-weight: 600;\n           color: #ffffff;\n           background-color: #ff7a66;\n           text-decoration: none;\n           border-radius: 8px;\n         \">\n        Sign-Off Design\n      </a>\n    </td>\n  </tr>\n</table>\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        256,
        -112
      ],
      "id": "2de7943c-3c8e-42cb-b79a-23861ec6a5e0",
      "name": "Send design to client",
      "webhookId": "dacaaf04-2cbc-4981-a601-ffd4118b1f7a"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final_Design_Approved": "YES",
            "Email": "={{ $('Final Design Questionnaire Webhook').item.json.body.email_1 }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote_ID",
              "displayName": "Quote_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2nd_Invoice_Number",
              "displayName": "2nd_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Invoice_Number",
              "displayName": "Final_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        128
      ],
      "id": "b3b475e8-15b2-450c-b223-beb66f45cb91",
      "name": "Update Final Design Status"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-design",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        320
      ],
      "id": "159a95d4-34b8-4769-a790-0ea70d8394bc",
      "name": "Final Design Questionnaire Webhook",
      "webhookId": "978df9c9-6ceb-4ec6-97f6-0340bdd53f0c"
    },
    {
      "parameters": {
        "toRecipients": "ian@internetcreation.net,mike@internetcreation.net",
        "subject": "Website Design Update",
        "bodyContent": "=Your Client {{ $json.Email }} approved the website design.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        480,
        128
      ],
      "id": "15af8639-0bd2-40a6-9f44-22f80520b693",
      "name": "Notify Team",
      "webhookId": "9a2413a8-ba2c-441d-92e0-c76745255977"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $json.Trello_Card_ID }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "68c7d80ba007dbeb54697c09"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        928,
        128
      ],
      "id": "e84b3330-a546-4dab-82dd-71e9d67bdb6a",
      "name": "Move Card to \"Sign Off Design & design payment\""
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $json.Trello_Card_ID }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "68c7d7f6447a4fd80b4a92bc"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        928,
        320
      ],
      "id": "1638e556-1326-4af8-bd24-2505626b39d2",
      "name": "Move Card to \"Other Pages Design\""
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Email Reminder Webhook').item.json.query.Email}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        752
      ],
      "id": "0c56ee2e-3586-4fe6-8140-235ee74261c8",
      "name": "Check Final Design Approval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yoai.app.n8n.cloud/webhook/second-invoice",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Email",
              "value": "={{ $('Get Trello Card ID').item.json.Email }}"
            },
            {
              "name": "QuoteID",
              "value": "={{ $('Get Trello Card ID').item.json.Quote_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        128
      ],
      "id": "b59f4626-8168-46e9-bcac-8a1204a3556e",
      "name": "Initialize 2nd Invoice"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.radio_1 }}",
                    "rightValue": "YES approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ce4d7cfc-166c-4f84-b5e7-26ae055218df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2da36899-46bb-40ca-9f0f-128e70585349",
                    "leftValue": "={{ $json.body.radio_1 }}",
                    "rightValue": "NOT approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "declined"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc8bdae5-6989-411f-a0b0-9ea7d6cc921c",
                    "leftValue": "={{ $json.body.radio_1 }}",
                    "rightValue": "On Hold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        304
      ],
      "id": "fa32474d-9e0a-4b9f-8b60-166ce3bdfb61",
      "name": "Switch"
    },
    {
      "parameters": {
        "toRecipients": "ian@internetcreation.net,mike@internetcreation.net",
        "subject": "Website Design Update",
        "bodyContent": "=Your Client {{ $json.Email }} put the website design on hold.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        480,
        512
      ],
      "id": "68f3ee8c-56f5-4049-9327-2bca3d6581a5",
      "name": "Notify Team..",
      "webhookId": "ff8b0aa7-847d-4deb-a746-d9cbe7e66720"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final_Design_Approved": "NO",
            "Email": "={{ $('Final Design Questionnaire Webhook').item.json.body.email_1 }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        320
      ],
      "id": "d963f558-a662-44fe-a81e-9ec7a72d4831",
      "name": "Update Final Design Status."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.email_1 }}",
            "Final_Design_Approved": "HOLD"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quote_ID",
              "displayName": "Quote_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Number",
              "displayName": "2nd_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Number",
              "displayName": "Final_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        512
      ],
      "id": "c1545f76-47a1-44b2-8963-5d509649945c",
      "name": "Update Final Design Status.."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Update Final Design Status').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        128
      ],
      "id": "ec8c023a-46f9-4da2-bc4d-9ba2a9e60ca8",
      "name": "Get Trello Card ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Update Final Design Status').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        320
      ],
      "id": "b53126cb-79a5-4047-adb9-85630e560e13",
      "name": "Get Trello Card ID."
    }
  ],
  "pinData": {
    "Email Reminder Webhook": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a3c06fad46b4d3a-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 172.69.151.21",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-8929b",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "Email": "amjadmunsari@gmail.com",
            "Name": "Amjad"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-design-reminder",
          "executionMode": "production"
        }
      }
    ],
    "Start Final Design Workflow": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a28dced033930d5-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 172.70.243.179",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-8929b",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "Name": "Amjad"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-design",
          "executionMode": "production"
        }
      }
    ],
    "Final Design Questionnaire Webhook": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "WordPress/6.8.3; https://www.internetcreation.net ForminatorWebhook/1.0",
            "content-length": "494",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "62.182.18.59",
            "cf-ew-via": "15",
            "cf-ipcountry": "GB",
            "cf-ray": "9a3c14d2e6feecff-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "62.182.18.59, 141.101.99.24",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-jd56b",
            "x-is-trusted": "yes",
            "x-real-ip": "62.182.18.59"
          },
          "params": {},
          "query": {},
          "body": {
            "text_9": "Amjad Test",
            "name_1": "Amjad Test",
            "text_1": "Amjad Test",
            "text_4": "Amjad Test",
            "email_1": "amjadmunsari@gmail.com",
            "radio_1": "YES approved",
            "referer_url": "",
            "_wp_http_referer": "/design-approval-questionnaire/",
            "page_id": "50891",
            "form_type": "default",
            "current_url": "https://www.internetcreation.net/design-approval-questionnaire/",
            "render_id": "0",
            "input_7": "",
            "form_uid": "6921beb9c9ca3",
            "_forminator_user_ip": null,
            "form_title": "design-approval",
            "entry_time": "2025-11-24 21:43:20"
          },
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-design",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Client Responded?": {
      "main": [
        [],
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reminder Webhook": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Check Final Design Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team.": {
      "main": [
        [
          {
            "node": "Get Trello Card ID.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client's Email": {
      "main": [
        [
          {
            "node": "Send design to client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Final Design Workflow": {
      "main": [
        [
          {
            "node": "Get Client's Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send design to client": {
      "main": [
        [
          {
            "node": "Start Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Design Status": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Design Questionnaire Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Get Trello Card ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Card to \"Sign Off Design & design payment\"": {
      "main": [
        [
          {
            "node": "Initialize 2nd Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Design Approval": {
      "main": [
        [
          {
            "node": "Client Responded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update Final Design Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Final Design Status.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Final Design Status..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Design Status.": {
      "main": [
        [
          {
            "node": "Notify Team.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Design Status..": {
      "main": [
        [
          {
            "node": "Notify Team..",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trello Card ID": {
      "main": [
        [
          {
            "node": "Move Card to \"Sign Off Design & design payment\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trello Card ID.": {
      "main": [
        [
          {
            "node": "Move Card to \"Other Pages Design\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6610ccab-91d9-41ef-894c-706e0f76fea2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e806d8e779904fee169c37d64bf24a4176529c6bae3ae97397462d403b79ca2"
  },
  "id": "8F082ExlRbwv3aVv",
  "tags": []
}