Client Invoice & Workflow Automation System/PHASE 2 - DESIGN & BUILD/STEP 2.2 - Home Page Email Reminder.json
{
  "name": "STEP 2.2 - Home Page Email Reminder",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Email Reminder Webhook').item.json.query.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "61dc7abb-7faa-4792-a9a2-0150a4186ad1",
      "name": "Check HP Design Approval"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.Email }}",
        "subject": "Design Approval Reminder",
        "bodyContent": "Dear Client,\n\nThe home page design has been emailed to you. Please check it out.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        448,
        80
      ],
      "id": "3cf8fcc5-5962-4a42-9067-2b04d414ee3e",
      "name": "Send Reminder",
      "webhookId": "66341cfd-ee10-42c6-a295-5d6d6ac09d97"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9e6bbe0-7ee1-4fb5-9de2-4cced65fed81",
              "leftValue": "={{ $json.HP_Design_Approved }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "b9848f15-66b8-4af8-ad6a-8b51f61d0d8b",
      "name": "Client Responded?"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -224,
        80
      ],
      "id": "a923ef0b-a6ae-4516-8fbe-f959460d9478",
      "name": "Wait 3 Days",
      "webhookId": "f67bccdd-485b-40e2-bbc4-7c8e51568ff3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "home-page-reminder",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        80
      ],
      "id": "d0d65077-b7ed-4f29-8926-0c5b68d33017",
      "name": "Email Reminder Webhook",
      "webhookId": "40800a92-4c38-4ffd-a846-c85425c427c9"
    }
  ],
  "pinData": {
    "Email Reminder Webhook": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a3b34cb655c3a4f-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 162.158.94.150",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-jd56b",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "Email": "amjadmunsari@gmail.com",
            "Name": "Amjad"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/home-page-reminder",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Check HP Design Approval": {
      "main": [
        [
          {
            "node": "Client Responded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Responded?": {
      "main": [
        [],
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Check HP Design Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reminder Webhook": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e27fbb3e-69ea-468b-b472-1934a8b5f214",
  "meta": {
    "instanceId": "2e806d8e779904fee169c37d64bf24a4176529c6bae3ae97397462d403b79ca2"
  },
  "id": "fIHcpCYduo4NsU9Z",
  "tags": []
}