Client Invoice & Workflow Automation System/PHASE 3 - DIRECT DEBIT SETUP/Delete Client Data.json
{
  "name": "Delete Client Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9967a49c-52c1-4a57-a6c4-d2ea88169d3a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "6d3813c8-cc40-40cb-83c9-a59a93da5710",
      "name": "Webhook",
      "webhookId": "9967a49c-52c1-4a57-a6c4-d2ea88169d3a"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        0
      ],
      "id": "0b38dceb-e7a4-4139-8007-5d7e1af041a7",
      "name": "Wait 2 Days",
      "webhookId": "8e2c6bb2-63e8-4ab5-b114-7530d5d80d02"
    },
    {
      "parameters": {
        "operation": "delete",
        "id": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.query['Card ID'] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "7bee8acb-beea-4275-b785-f3763ac19055",
      "name": "Delete a card"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        0
      ],
      "id": "b12af5a2-3229-46eb-a029-be4d76c0e261",
      "name": "Delete rows or columns from sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trello_Card_ID",
              "lookupValue": "={{ $('Webhook').item.json.query['Card ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        0
      ],
      "id": "09a1d032-5756-4234-bda0-07fe3ccabc0a",
      "name": "Get row(s) in sheet"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9b74eb6f65b7693f-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 162.158.87.104",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-pjmxn",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "Card ID": "694fc3f596c02045301b9756"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/9967a49c-52c1-4a57-a6c4-d2ea88169d3a",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Delete a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a card": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "543dfc24-45f9-43c0-869a-09d5a1064ca2",
  "meta": {
    "instanceId": "2e806d8e779904fee169c37d64bf24a4176529c6bae3ae97397462d403b79ca2"
  },
  "id": "AVX0FN7MWN56HObkbiGau",
  "tags": []
}