Client Invoice & Workflow Automation System/PHASE 3 - DIRECT DEBIT SETUP/STEP 2 - Create Final Invoice & DD Link.json
{
  "name": "STEP 2 - Create Final Invoice & DD Link",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// GoCardless Mandate Link Creation Code for n8n Code Node\n// This version uses the helpers available in n8n Code nodes\n// Example: £50.00 payment = amount: \"5000\" (in pence)\n\nconst GOCARDLESS_ACCESS_TOKEN = ''; // Replace with your actual token\nconst GOCARDLESS_BASE_URL = 'https://api.gocardless.com'; // Use https://api.gocardless.com for live\nconst GOCARDLESS_VERSION = '2015-07-06';\n\n// Use n8n's built-in helpers\nconst helpers = this.helpers;\n\nasync function createMandateLink(inputData) {\n  try {\n    // Step 1: Create Billing Request\n    const billingRequestPayload = {\n      billing_requests: {\n        mandate_request: {\n          scheme: inputData.scheme || 'bacs',\n          currency: inputData.currency || 'GBP',\n          description: inputData.description || 'Direct Debit Mandate'\n        },\n        metadata: {\n          customer_reference: inputData.customer_reference || '',\n          internal_id: inputData.internal_id || ''\n        }\n      }\n    };\n\n    // Add payment request if amount is provided (for single payment + mandate)\n    if (inputData.amount) {\n      billingRequestPayload.billing_requests.payment_request = {\n        amount: parseInt(inputData.amount),\n        currency: inputData.currency || 'GBP',\n        description: inputData.payment_description || inputData.description || 'Payment'\n      };\n    }\n\n    const billingRequestOptions = {\n      method: 'POST',\n      url: `${GOCARDLESS_BASE_URL}/billing_requests`,\n      headers: {\n        'Authorization': `Bearer ${GOCARDLESS_ACCESS_TOKEN}`,\n        'GoCardless-Version': GOCARDLESS_VERSION,\n        'Content-Type': 'application/json',\n        'Idempotency-Key': `mandate-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`\n      },\n      body: JSON.stringify(billingRequestPayload)\n    };\n\n    const billingRequestResponse = await helpers.httpRequest(billingRequestOptions);\n    const billingRequestData = typeof billingRequestResponse === 'string' \n      ? JSON.parse(billingRequestResponse) \n      : billingRequestResponse;\n    \n    const billingRequestId = billingRequestData.billing_requests.id;\n\n    // Step 2: Create Billing Request Flow (Payment Page)\n    const flowPayload = {\n      billing_request_flows: {\n        redirect_uri: inputData.redirect_uri || 'https://yoursite.com/payment/success',\n        exit_uri: inputData.exit_uri || 'https://yoursite.com/payment/cancelled',\n        links: {\n          billing_request: billingRequestId\n        }\n      }\n    };\n\n    // Add prefilled customer data if provided\n    if (inputData.customer_email || inputData.customer_first_name) {\n      flowPayload.billing_request_flows.prefilled_customer = {};\n      \n      if (inputData.customer_email) flowPayload.billing_request_flows.prefilled_customer.email = inputData.customer_email;\n      if (inputData.customer_first_name) flowPayload.billing_request_flows.prefilled_customer.given_name = inputData.customer_first_name;\n      if (inputData.customer_last_name) flowPayload.billing_request_flows.prefilled_customer.family_name = inputData.customer_last_name;\n      if (inputData.company_name) flowPayload.billing_request_flows.prefilled_customer.company_name = inputData.company_name;\n      if (inputData.address_line1) flowPayload.billing_request_flows.prefilled_customer.address_line1 = inputData.address_line1;\n      if (inputData.city) flowPayload.billing_request_flows.prefilled_customer.city = inputData.city;\n      if (inputData.postal_code) flowPayload.billing_request_flows.prefilled_customer.postal_code = inputData.postal_code;\n      if (inputData.country_code) flowPayload.billing_request_flows.prefilled_customer.country_code = inputData.country_code;\n    }\n\n    const flowOptions = {\n      method: 'POST',\n      url: `${GOCARDLESS_BASE_URL}/billing_request_flows`,\n      headers: {\n        'Authorization': `Bearer ${GOCARDLESS_ACCESS_TOKEN}`,\n        'GoCardless-Version': GOCARDLESS_VERSION,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(flowPayload)\n    };\n\n    const flowResponse = await helpers.httpRequest(flowOptions);\n    const flowData = typeof flowResponse === 'string' \n      ? JSON.parse(flowResponse) \n      : flowResponse;\n\n    return {\n      success: true,\n      billing_request_id: billingRequestId,\n      mandate_url: flowData.billing_request_flows.authorisation_url,\n      expires_at: flowData.billing_request_flows.expires_at,\n      flow_id: flowData.billing_request_flows.id,\n      redirect_uri: flowPayload.billing_request_flows.redirect_uri,\n      exit_uri: flowPayload.billing_request_flows.exit_uri,\n      raw_billing_request: billingRequestData,\n      raw_flow_data: flowData\n    };\n\n  } catch (error) {\n    return {\n      success: false,\n      error: error.message || 'Unknown error occurred',\n      details: error.stack || 'No stack trace available',\n      error_type: error.constructor.name\n    };\n  }\n}\n\n// Main execution for n8n Code Node\nconst results = [];\n\nfor (const item of $input.all()) {\n  const inputData = item.json;\n  \n  // ===== ADD YOUR AMOUNT HERE =====\n  // For INITIAL payment + mandate: use amount in pence (e.g., \"5000\" for £50)\n  // For MANDATE ONLY (no initial payment): comment out or remove the line below\n  // inputData.amount = \"5000\"; // <--- Commented out = mandate only, no initial payment\n  // ================================\n  \n  const result = await createMandateLink(inputData);\n  \n  results.push({\n    json: {\n      ...inputData,\n      gocardless_result: result\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -256
      ],
      "id": "7152e1bc-181f-409c-9e32-faea7f820353",
      "name": "Generate Mandate Link"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-payment",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -256
      ],
      "id": "e2703196-a79a-4ba3-9d08-b7246cc806bd",
      "name": "Webhook",
      "webhookId": "2b30dc47-1bb2-4acb-b1ba-0d98b228cac3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yoai.app.n8n.cloud/webhook/final-invoice-reminder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "InvoiceNumber",
              "value": "={{ $json.Final_Invoice_Number }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -352
      ],
      "id": "ef6a65b9-fa15-4f1c-9263-307a5e4553eb",
      "name": "Start Reminder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yoai.app.n8n.cloud/webhook/final-invoice-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "InvoiceNumber",
              "value": "={{ $json.Final_Invoice_Number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -160
      ],
      "id": "b457b42b-f882-4991-b63d-e31323c9b63d",
      "name": "Start Invoice Checking"
    },
    {
      "parameters": {
        "jsCode": "// Get the input number from the previous node\nconst inputNumber = $('XERO : Get Quote').first().json.Quotes[0].Total;\n\n// Calculate 30% and round to nearest decimal\nconst result = Math.round(inputNumber * 0.5 * 10) / 10;\n\n// Return the result\nreturn {\n  json: {\n    original: inputNumber,\n    fiftyPercent: result\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -256
      ],
      "id": "f144eeb1-e58c-4c5e-b681-206804838ef5",
      "name": "Calculate 50% Invoice"
    },
    {
      "parameters": {
        "organizationId": "16ef3553-1ccc-4b16-b9cd-8dd77f822653",
        "type": "ACCREC",
        "contactId": "={{ $('XERO : Get Quote').item.json.Quotes[0].Contact.ContactID }}",
        "lineItemsUi": {
          "lineItemsValues": [
            {
              "description": "Description",
              "unitAmount": "={{ $json.fiftyPercent }}",
              "itemCode": "=",
              "accountCode": "101",
              "taxType": "=OUTPUT2"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        -48,
        -256
      ],
      "id": "4616fd4d-9f8d-49d4-99a3-c2beb75979ef",
      "name": "Create 50% Invoice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "916cc07e-6976-43da-b27d-d0e432c97552",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "PAID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        384
      ],
      "id": "6c2758c0-a0c5-4814-842c-4484a35a2774",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        480
      ],
      "id": "8737f459-aca1-4349-97e1-8e2e41b4115a",
      "name": "Wait 15 Min",
      "webhookId": "6d4e2795-eb0b-475b-8f09-2817f75a16c0"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final_Invoice_Paid": "YES",
            "Final_Invoice_Number": "={{ $('Check Invoice Status').item.json.query.InvoiceNumber }}"
          },
          "matchingColumns": [
            "Final_Invoice_Number"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quote_ID",
              "displayName": "Quote_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Number",
              "displayName": "2nd_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Number",
              "displayName": "Final_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        288
      ],
      "id": "bd65da6d-c048-4b0b-b1c2-8b1a0d97c9d4",
      "name": "Update Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfced571-2306-42c2-bb17-228dcac5b324",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "PAID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        -48
      ],
      "id": "b298dcca-90a6-4a6f-98ab-80bddf1bfbab",
      "name": "Invoice Paid?"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Email Reminder').item.json.query.Email }}",
        "subject": "Invoice Reminder",
        "bodyContent": "Dear Client,\n\nThis is a reminder to pay the invoice.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -48,
        32
      ],
      "id": "13d78251-4525-4fef-b7b3-782f5ed93c66",
      "name": "Send Reminder",
      "webhookId": "3a271f04-f145-42e2-802b-4d0b44db2a08"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-invoice-reminder",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        32
      ],
      "id": "f2bc382a-745d-49f7-ac1a-bf8504b71f8d",
      "name": "Email Reminder",
      "webhookId": "4c7748b1-12d9-4f7b-b58f-e6ea321e4665"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "final-invoice-status",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        384
      ],
      "id": "28bc595d-ceab-4540-8749-b5d8ceb92433",
      "name": "Check Invoice Status",
      "webhookId": "3b94ecbb-8fb0-4dcb-9a1c-eb00db31ab66"
    },
    {
      "parameters": {
        "operation": "get",
        "organizationId": "16ef3553-1ccc-4b16-b9cd-8dd77f822653",
        "invoiceId": "={{ $('Email Reminder').item.json.query.InvoiceNumber }}"
      },
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        -496,
        -48
      ],
      "id": "07d8f435-6800-4084-be8f-ba6f528d3bc2",
      "name": "Get invoice"
    },
    {
      "parameters": {
        "operation": "get",
        "organizationId": "16ef3553-1ccc-4b16-b9cd-8dd77f822653",
        "invoiceId": "={{ $('Check Invoice Status').item.json.query.InvoiceNumber }}"
      },
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        -720,
        384
      ],
      "id": "8c37af2e-74ea-46fb-b150-0984e2694960",
      "name": "Get invoice."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Webhook').item.json.query.Email }}",
            "Final_Invoice_Number": "={{ $('Create 50% Invoice').item.json.InvoiceNumber }}",
            "Billing_Request_ID": "={{ $('Generate Mandate Link').item.json.gocardless_result.billing_request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote_ID",
              "displayName": "Quote_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2nd_Invoice_Number",
              "displayName": "2nd_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Invoice_Number",
              "displayName": "Final_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing_Request_ID",
              "displayName": "Billing_Request_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mandate_ID",
              "displayName": "Mandate_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -256
      ],
      "id": "293ab103-5353-42b9-b995-e9f4971efd8d",
      "name": "Add_Invoice_Number"
    },
    {
      "parameters": {
        "url": "=https://api.xero.com/api.xro/2.0/Invoices/{{ $json.InvoiceNumber }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Xero-tenant-id"
            },
            {
              "name": "Accept",
              "value": "application/pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -256
      ],
      "id": "f05de034-2926-424d-8bb9-2db3f1154c41",
      "name": "Get Invoice File"
    },
    {
      "parameters": {
        "jsCode": "// Place this Code node between the HTTP Request node and the Email node\n\n// Get the invoice number from JSON or use the file name\nconst invoiceNumber = items[0].json.InvoiceNumber || items[0].binary.data.fileName?.replace('.pdf', '') || 'invoice';\n\n// Return the item with properly formatted binary data\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      fileName: `${invoiceNumber}.pdf` // Store filename in JSON for reference\n    },\n    binary: {\n      data: {\n        ...item.binary.data,\n        mimeType: 'application/pdf',\n        fileName: `${invoiceNumber}.pdf`\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -256
      ],
      "id": "ec1e17ea-687d-43be-b244-98a19a20f6d7",
      "name": "Make Invoice PDF"
    },
    {
      "parameters": {
        "url": "=https://api.xero.com/api.xro/2.0/Quotes/{{ $('Webhook').item.json.query.QuoteID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id",
              "value": "="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -256
      ],
      "id": "d748c384-3559-47ad-b9f4-0951c8d94002",
      "name": "XERO : Get Quote"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.query.Email }}",
        "subject": "Final Invoice & Direct Debit Link",
        "bodyContent": "=Hi {{ $('Webhook').item.json.query.Name }},\n\nThanks for signing off on the website build — we’re excited to be right at the finish line with you.\n\nThere are just a couple of final steps before we can make the website live.\n\n- Final invoice:\nWe’ve attached the final invoice to this email. It’s due within 14 days, and once it’s settled, we’ll be all set from our side.\n\n- Monthly maintenance (if applicable):\nIf your project includes ongoing website maintenance, please take a moment to set up the monthly direct debit using the link below:\n\n{{ $('Generate Mandate Link').item.json.gocardless_result.mandate_url }}\n\nOnce the direct debit is set up and we receive confirmation, we’ll proceed with making the website live within 48 hours.\n\nIf you have any questions about the invoice, the maintenance plan, or the go-live process, please don't hesitate to let us know — we’re happy to help.\n\nThanks again for working with us on this project. We’ve thoroughly enjoyed collaborating with you and look forward to seeing your new site live.\n",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        608,
        -256
      ],
      "id": "d2aacc75-9348-4d93-a370-bcce9935e382",
      "name": "Send Invoice",
      "webhookId": "aa4bb3f7-b2e5-4a2c-a57f-3672b864d19a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.xero.com/api.xro/2.0/Invoices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xeroOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xero-tenant-id"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Invoices\": [\n    {\n      \"InvoiceID\": \"{{ $('Create 50% Invoice').item.json.InvoiceID }}\",\n      \"Status\": \"AUTHORISED\",\n      \"DueDate\": \"{{ \n    (() => {\n      const today = new Date(); \n      const due = new Date(today.getTime() + 14 * 24 * 60 * 60 * 1000);\n      return due.toISOString().split('T')[0];\n    })()\n  }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -256
      ],
      "id": "c2561c13-95da-4350-8956-a7ca45bfcc96",
      "name": "Make Invoice Submitted",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        32
      ],
      "id": "cd75cd94-bff5-4854-8bac-e12037943c9c",
      "name": "Wait 3 Days",
      "webhookId": "1308bad5-da64-42e9-b8cb-ba8b6ce77ffd"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9acc80e960bbd2c7-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 172.71.164.170",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-pjmxn",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "Email": "ian141270@googlemail.com",
            "QuoteID": "9c0c24a4-ffdb-4d7a-98f0-b37fd4f8fa90"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-payment",
          "executionMode": "production"
        }
      }
    ],
    "Email Reminder": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a402c2881b11e10-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 172.70.246.200",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-jd56b",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "InvoiceNumber": "INV-40933",
            "Email": "amjadmunsari@gmail.com"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-invoice-reminder",
          "executionMode": "production"
        }
      }
    ],
    "Check Invoice Status": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.174.4",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a40300ea25ed295-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "x-forwarded-for": "20.218.174.4, 172.71.164.132",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-mcc62",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.174.4"
          },
          "params": {},
          "query": {
            "InvoiceNumber": "INV-40934"
          },
          "body": {},
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/final-invoice-status",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Generate Mandate Link": {
      "main": [
        [
          {
            "node": "Calculate 50% Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "XERO : Get Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate 50% Invoice": {
      "main": [
        [
          {
            "node": "Create 50% Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create 50% Invoice": {
      "main": [
        [
          {
            "node": "Get Invoice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Min": {
      "main": [
        [
          {
            "node": "Get invoice.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Paid?": {
      "main": [
        [],
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reminder": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Invoice Status": {
      "main": [
        [
          {
            "node": "Get invoice.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get invoice": {
      "main": [
        [
          {
            "node": "Invoice Paid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get invoice.": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_Invoice_Number": {
      "main": [
        [
          {
            "node": "Start Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Invoice Checking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice File": {
      "main": [
        [
          {
            "node": "Make Invoice PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Invoice PDF": {
      "main": [
        [
          {
            "node": "Send Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XERO : Get Quote": {
      "main": [
        [
          {
            "node": "Generate Mandate Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice": {
      "main": [
        [
          {
            "node": "Make Invoice Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Invoice Submitted": {
      "main": [
        [
          {
            "node": "Add_Invoice_Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Get invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e2e0ea5-65f5-468c-b57c-69d822056036",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e806d8e779904fee169c37d64bf24a4176529c6bae3ae97397462d403b79ca2"
  },
  "id": "mTcg8B9rRN4QKgZQ",
  "tags": []
}