Client Invoice & Workflow Automation System/PHASE 1 - CLIENT ONBOARDING/STEP 2.2 - DQ Reminder Loop.json
{
  "name": "STEP 2.2 - DQ Reminder Loop",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dq-reminder",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        96
      ],
      "id": "017f5432-2bf0-4fee-9d2c-e8ff72aec527",
      "name": "Webhook",
      "webhookId": "4c7748b1-12d9-4f7b-b58f-e6ea321e4665"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -368,
        96
      ],
      "id": "d91c056a-e7f2-409f-835f-1e627cc29dac",
      "name": "Wait 3 Days",
      "webhookId": "1308bad5-da64-42e9-b8cb-ba8b6ce77ffd"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Webhook').item.json.query.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        16
      ],
      "id": "38f152f5-971d-4a88-820c-20d13000b90c",
      "name": "Get Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bfced571-2306-42c2-bb17-228dcac5b324",
              "leftValue": "={{ $json['DQ Submitted'] }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        16
      ],
      "id": "e87b340a-b017-404d-8dc6-05bf2be74517",
      "name": "DQ Submitted?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dq-form",
        "responseMode": "=onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        320
      ],
      "id": "d7db12fb-d572-49a8-a1c9-9f947f15186b",
      "name": "DQ Submitted",
      "webhookId": "d81a1296-d043-44b3-ae12-fcd216052620"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU",
          "mode": "list",
          "cachedResultName": "n8n moderator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925791970,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AjhiGshTh5I0wXJK2t2ZOGt1_aNBKnxEHLcBTYVF9pU/edit#gid=925791970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DQ_Form_Submitted": "YES",
            "Email": "={{ $json.body.email_1 }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote_ID",
              "displayName": "Quote_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trello_Card_ID",
              "displayName": "Trello_Card_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Number",
              "displayName": "1st_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1st_Invoice_Paid",
              "displayName": "1st_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DQ_Form_Submitted",
              "displayName": "DQ_Form_Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website_Link",
              "displayName": "Website_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HP_Design_Approved",
              "displayName": "HP_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Design_Approved",
              "displayName": "Final_Design_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2nd_Invoice_Number",
              "displayName": "2nd_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2nd_Invoice_Paid",
              "displayName": "2nd_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Website_Approved",
              "displayName": "Final_Website_Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final_Invoice_Number",
              "displayName": "Final_Invoice_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final_Invoice_Paid",
              "displayName": "Final_Invoice_Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing_Request_ID",
              "displayName": "Billing_Request_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mandate_ID",
              "displayName": "Mandate_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        320
      ],
      "id": "87e597d5-72fe-40dc-9df8-2d80cec10284",
      "name": "Update Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yoai.app.n8n.cloud/webhook/check-both",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        320
      ],
      "id": "9f433546-eac9-42b0-a09d-c1c9ec6152c8",
      "name": "Check Invoice + DQ"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.query.Email }}",
        "subject": "Design Questionnaire Reminder",
        "bodyContent": "Hi there,\n\nI hope you’re having a great week.\n\nI just wanted to send a quick, gentle reminder about the design questionnaire for the website project. Once it’s completed, it’ll give us everything we need to move forward smoothly and make sure the design aligns perfectly with your vision.\n\nIf you’ve already filled it out, thank you so much — and if you have any questions or need help with any part of it, feel free to reach out. We’re happy to help.\n\nLooking forward to your responses and to continuing the project!\n\nBest regards,\nInternet Creation",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        304,
        96
      ],
      "id": "828f87dd-5bc2-4b45-af7b-a18754465494",
      "name": "Send Reminder",
      "webhookId": "b353095b-7e4a-4f2e-a43e-5c0d049d93d4"
    }
  ],
  "pinData": {
    "DQ Submitted": [
      {
        "json": {
          "headers": {
            "host": "yoai.app.n8n.cloud",
            "user-agent": "WordPress/6.8.3; https://www.internetcreation.net ForminatorWebhook/1.0",
            "content-length": "685",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "62.182.18.59",
            "cf-ew-via": "15",
            "cf-ipcountry": "GB",
            "cf-ray": "9a26977c2691771a-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "62.182.18.59, 172.68.186.171",
            "x-forwarded-host": "yoai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-75-7cf7798779-jd56b",
            "x-is-trusted": "yes",
            "x-real-ip": "62.182.18.59"
          },
          "params": {},
          "query": {},
          "body": {
            "text_1": "Amjad Test",
            "name_1": "Amjad Test",
            "text_2": "Amjad Test",
            "phone_1": "Amjad Test",
            "email_1": "amjadmunsari@gmail.com",
            "url_1": "",
            "textarea_3": "Amjad Test",
            "textarea_7": "Amjad Test",
            "textarea_4": "Amjad Test",
            "text_3": "",
            "textarea_8": "",
            "textarea_9": "",
            "textarea_5": "Amjad Test",
            "textarea_6": "",
            "textarea_10": "Amjad Test",
            "referer_url": "",
            "_wp_http_referer": "/design-questionnaire/",
            "page_id": "8103",
            "form_type": "default",
            "current_url": "https://www.internetcreation.net/design-questionnaire/",
            "render_id": "0",
            "forminator_multifile_hidden": "",
            "form_uid": "692160c4e5e89",
            "upload_1": "",
            "_forminator_user_ip": null,
            "form_title": "Design Questionnaire 2022",
            "entry_time": "2025-11-22 07:07:45"
          },
          "webhookUrl": "https://yoai.app.n8n.cloud/webhook/dq-form",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "DQ Submitted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DQ Submitted?": {
      "main": [
        [],
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DQ Submitted": {
      "main": [
        [
          {
            "node": "Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data": {
      "main": [
        [
          {
            "node": "Check Invoice + DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c3ca5bd-d6ac-4d3a-b0af-7b51138d89ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e806d8e779904fee169c37d64bf24a4176529c6bae3ae97397462d403b79ca2"
  },
  "id": "JOBPAGYKBIpzMPtA",
  "tags": []
}